{% extends "./_base.html" %}
<!--  -->
{% block content %}

<style>
  .hidden_show {
      height: 0;
      padding: 0;
      overflow: hidden;
      opacity: 0;
      transition: 0.8s;
  }
</style>

    <div class="container">
        <h2 class="text-center">データ削除</h2>
        <p>このデータを削除します。よろしいですか？</p>

        <form action="" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-12">
                    <div class="float-right">
                        <a class="btn btn-outline-dark" href="{% url 'index' %}">戻る</a>
                        <input type="submit" class="btn btn-outline-warning" value="削除"/>

                    </div>
                </div>
            </div>
            <table align="center" border="3" width="100%" bordercolor='white' style="color: white;">
              <tr align="center">
                <th border="3"bgcolor="#52c2d0" width="10%">収支</th>
                <th bgcolor="#52c2d0" width="10%">費目</th>
                <th bgcolor="#52c2d0" width="40%">名前</th>
                <th bgcolor="#52c2d0" width="30%">値段</th>
              </tr>
            </table>
            {% include "./item_detail_contents.html" %}
            <div class="row">
                <div class="col-12">
                    <div class="float-right mb-3">
                        <!--
                        <a class="btn btn-outline-dark" href="{% url 'index' %}">戻る</a>
                        <input type="submit" class="btn btn-outline-dark delete" value="削除"/>
                        -->
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
