
<table border="1" width="100%">
  <tr>
    <th>収支</th>
    <th bgcolor="#FFD027">費目</th>
    <th bgcolor="#FD9A29">名前</th>
    <th bgcolor="#FF5127">値段</th>
  </tr>
  <tr>
    <td width="10%">{{  item.inc_or_exp|default_if_none:"未入力"  }}</td>
    <td bgcolor="#FFD027" width="10%">{{  item.cost_item|default_if_none:"未入力"  }}</td>
    <td bgcolor="#FD9A29" width="50%">{{  item.name|default_if_none:"未入力"  }}</td>
    <td bgcolor="#FF5127" width="30%">{{  item.price|default_if_none:"未入力"  }}</td>
  </tr>
</table>




<!--

<div class="row">
    <div class="col-5 col-sm-3">
        <p>収支</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{  item.inc_or_exp|default_if_none:"未入力"  }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>費目</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{  item.cost_item|default_if_none:"未入力"  }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>名前</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{  item.name|default_if_none:"未入力"  }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>値段</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{  item.price|default_if_none:"未入力"  }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>購入場所</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{  item.purchase_place|default_if_none:"未入力"  }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>評価</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{  item.evaluation|default_if_none:"未入力"  }}</p>
    </div>
</div>

-->
