
<table border="1" width="100%">
  <tr>
    <th>収支</th>
    <th bgcolor="#FFD027">費目</th>
    <th bgcolor="#FD9A29">名前</th>
    <th bgcolor="#FF5127">値段</th>
  </tr>
  <tr>
    <td width="10%">{{  item.inc_or_exp|default_if_none:"未入力"  }}</td>
    <td bgcolor="#FFD027" width="10%">{{  item.cost_item|default_if_none:"未入力"  }}</td>
    <td bgcolor="#FD9A29" width="50%">{{  item.name|default_if_none:"未入力"  }}</td>
    <td bgcolor="#FF5127" width="30%">{{  item.price|default_if_none:"未入力"  }}</td>
  </tr>
</table>
